<%= provide :title, t("result") %>

<div class="test-lesson">
  <h3><%= @supports.test.lesson.name %>
    <b><%= @supports.word_numerical + 1 %> / <%= @supports.words.size %></b>
  </h3>
  <div class="row">
    <div class="col-md-4 col-md-offset-1">
      <h1 class="word-test"><b><%= @supports.word.content %></b></h1>
      <%= link_to t("speak"), "#", class: "btn btn-primary" %>
    </div>
    <ul class="col-md-4 col-md-offset-1 answer">
      <% if @supports.word.single_choice? %>
        <%= render "single_answer",
          supports: @supports, new_result: @new_result %>
      <% else %>
        <%= render "multiple_answer",
          supports: @supports, new_result: @new_result %>
      <% end %>
    </ul>
  </div>
  <div>
    <% if @supports.check_answer == 1 %>
      <%= link_to t("next"), new_result_path(test_id: @supports.test.id,
        word_numerical: @supports.word_numerical + 1),
        class: "btn btn-primary" %>
    <% elsif @supports.check_answer == 2 %>
      <%= link_to t("done"), @supports.test, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
