<% if !user_signed_in? %>
  <% session[:forwarding_url] = request.original_url %>
  <%= link_to t("start"), new_user_session_path, class: "btn btn-primary" %>
<% elsif !course.has_enrolled? current_user %>
  <%= render "courses/start_course", course: course, build_enroll: build_enroll %>
<% elsif course.has_finished? current_user %>
  <%= link_to t("review"), course, class: "btn btn-primary" %>
<% else %>
  <%= link_to t("continue"), course, class: "btn btn-primary" %>
<% end %>
<% if user_signed_in? && current_user.is_admin %>
  <span class="course-button">
    <%= link_to t("edit"), edit_course_path(course), class: "btn btn-primary" %>
    <%= link_to t("delete"), course, method: :delete,
      data: {confirm: t("delete_course", course: course.name)},
      class: "btn btn-primary" %>
  </span>
<% end %>
