<% provide :title, @category.name %>

<h1 class="category-name">
  <%= t "courses_in" %>
  <%= link_to @category.name, @category%>
</h1>
<div class="course-list">
  <% @courses.each_with_index do |course, index| %>
    <% if index.even? %>
      <%= render "courses/course_item1", course: course, build_enroll: @build_enroll %>
    <% else %>
      <%= render "courses/course_item2", course: course, build_enroll: @build_enroll %>
    <% end %>
  <% end %>
</div>
<%= will_paginate @courses %>
