<%= form_for [:admin, course] do |f| %>
  <%= render "shared/error_messages",  object: f.object %>

  <%= hidden_field_tag :category_id, course.category_id %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, placeholder:
      t("not_longer_than", length: Settings.course.name_max) %>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, autofocus: true, placeholder:
      t("not_longer_than",length: Settings.course.description) %>
  </div>

  <div class="actions">
    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  </div>
<% end %>
