<footer class="site-footer site-section">
  <div class="row">
    <div class="col-md-4 follow-me">
      <h4><%= t "follow_us" %></h4>
      <ul class="footer-nav-social">
        <li><%= link_to "", "https://www.facebook.com",
          class: "fa fa-facebook", target: :_blank %></li>
        <li><%= link_to "", "https://twitter.com",
          class: "fa fa-twitter", target: :_blank %></li>
        <li><%= link_to "", "https://www.google.com.vn",
          class: "fa fa-google", target: :_blank %></li>
        <li><%= link_to "", "https://www.youtube.com",
          class: "fa fa-youtube", target: :_blank %></li>
      </ul>
    </div>

    <div class="col-md-5 copyright">
      <h4><%= t "framgia_e_learning" %></h4>
      <p><%= t "provide_best_quality" %></p>
      <p>© <%= Date.today.year %>.<%= Date.today.month %>.<%= Date.today.day %></p>
    </div>
    <div class="col-md-1 help">
      <li><%= link_to t("help"), pages_path(page: "help") %></li>
    </div>
    <div class="col-md-1 about">
      <li><%= link_to t("about"), pages_path(page: "about") %></li>
    </div>
    <div class="col-md-2 translate">
    </div>
  </div>
</footer>
